<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>EnviroCar Service by enviroCar</title>

        <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
        <script src="{{ site.url }}/javascripts/scale.fix.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1 class="header">EnviroCar Service</h1>
                <p class="header">
                    <a href="{{site.url}}/developer-guide/">Developer Guide</a>
                </p>
                <p class="header"><a href="{{site.url}}/api/">API Reference</a></p>
                <p class="header"><a href="{{site.url}}/lod/">Linked Open Data</a></p>
                <ul>
                    <li class="but download"><a class="buttons" href="https://github.com/enviroCar/enviroCar-server/zipball/master">Download ZIP</a></li>
                    <li class="but download"><a class="buttons" href="https://github.com/enviroCar/enviroCar-server/tarball/master">Download TAR</a></li>
                    <li class="but"><a class="buttons github" href="https://github.com/enviroCar/enviroCar-server">View On GitHub</a></li>
                </ul>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                <p><small>This project is maintained by the <a href="https://github.com/enviroCar">enviroCar</a> community</small></p>
            </footer>
        </div>
        <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    </body>
</html>
